.navbar-color {
  background-color: #dc3546;
}

.button-form {
  background-color: #dc3546;
  border: none;
}

.form-control {
  width: 800px;
}

.homepage-img {
  width: 20%;
}

.navegacion-img {
  width: 18px;
  height: 18px;
  padding-right: 3px;
}
